<tui-app-bar class="black">
    <button
        appearance=""
        tuiButton
        tuiSlot="left"
        type="button"
    >
		<a tuiLink href="/">
			Home
		</a>
        
    </button>
	<button
        appearance=""
        tuiButton
        tuiSlot="left"
        type="button"
    >
		<a tuiLink href="/achievements">
			Achievements
		</a>
    </button>
	<button
        appearance=""
        tuiButton
        tuiSlot="left"
        type="button"
    >
		<a tuiLink href="/courses">
			Courses Completed
		</a>
        
    </button>
	<button
        appearance=""
        tuiButton
        tuiSlot="left"
        type="button"
    >
		<a tuiLink href="/experience">
			Experience
		</a>
    </button>
	<button
        appearance=""
        tuiButton
        tuiSlot="left"
        type="button"
    >
		<a tuiLink href="/qualifications">
			Qualifications
		</a>
    </button>
	<button
        appearance=""
        tuiButton
        tuiSlot="left"
        type="button"
		
    >
		<a tuiLink href="/publications">
			Publications
		</a>
    </button>
</tui-app-bar>

<router-outlet></router-outlet>

