<section>
    <tui-avatar
	        src="/20H055.jpeg"
	        size="xxl"
	    />
  <header tuiHeader>
      <hgroup tuiTitle>
          <h5>Thanush A A</h5>
          <p tuiCaption>AI Enthusiast</p>
          <p tuiSubtitle>B.Tech in Computer Science and Business Systems</p>
      </hgroup>
  </header>
  <br>
  <p tuiTitle class="description">
      I am a Junior Engineer at Ford Business Solutions Chennai and upcoming PhD candidate at IIT Kanpur
  </p>

</section>

    <h1 tuiHeader>
        If you would like to connect with me...
    </h1>
    
    <tui-icon icon="@tui.fa.brands.github" />
    <tui-icon icon="@tui.fa.brands.linkedin" />
    <tui-icon icon="@tui.fa.solid.envelope" />
    <tui-icon icon="@tui.fa.solid.link" />

